#category-select {
  background-color: rgba(0, 0, 0, 0.09);
  /* width: 25ch; */
  border-radius: 4px;
  margin-top: 1rem;
  padding: 1rem;
}

#button-flex-container {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  margin-right: 1rem !important;
}

.modal-delete-button {
  margin-right: auto !important;
}
